In [1]:
import petl

In [2]:
header = ["field1", "filed2", "filed3 with space", "field4"]
data = [
    (1,2,3,33),
    (4,5,6,66),
    (7,8,9,99)
]

table = [header] + data

In [3]:

petl.tocsv(table, 'test.csv')

In [4]:
from petl import header
header(table)

('field1', 'filed2', 'filed3 with space', 'field4')

In [5]:
petl.tocsv(data, 'test2.csv')

In [6]:
import csv

In [7]:
from libtabular import tocsvwithheader

In [8]:
table

[['field1', 'filed2', 'filed3 with space', 'field4'],
 (1, 2, 3, 33),
 (4, 5, 6, 66),
 (7, 8, 9, 99)]

In [9]:
tocsvwithheader(table, 'test3.csv', metadata={"key3":"value34"})

[['#key3:', 'value34', '', ''], ('field1', 'filed2', 'filed3 with space', 'field4'), (1, 2, 3, 33), (4, 5, 6, 66), (7, 8, 9, 99)]

In [10]:
table

[['field1', 'filed2', 'filed3 with space', 'field4'],
 (1, 2, 3, 33),
 (4, 5, 6, 66),
 (7, 8, 9, 99)]